extends base

block content
    div
        h2 Login
        form.login
            div
                label(for='email') Email
                input#email(type='email')
            div
                label(for='password') Password
                input#password(type='password')
            div
                button Login