extends base

block content
    div
        h2 Sign up
        form.signup
            div
                label(for='name') Name
                input#name(type='text')
            div
                label(for='surname') Surname
                input#surname(type='text')
            div
                label(for='pin') Personal id number
                input#pin(type='text')
            div
                label(for='dob') Date of birth
                input#dob(type='text')
            div
                label(for='email') Email
                input#email(type='email')
            div
                label(for='number') Number
                input#number(type='text')
            div
                label(for='password') Password
                input#password(type='text')
            div
                label(for='confirm') Confirm
                input#confirm(type='text')
            div
                button Signup